body{
    background: lightyellow;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.App {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 260px;
  }

.text-input {
    border: #1CDBF5 2px solid;
    background-color: beige;
    outline: none;
    border-radius: 8px;
    width: 900px;
    height:400px;
    font-size: 30px;
    padding: 8px 12px;
    margin: auto 8px;
    font-weight: bold;

    
}

